/* for the entire project */
.body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
 
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

/* for section */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 60px 0;
}

/* navigation, top of page */
.header{
    background-color: #FFFFFF;
}

.nav-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display:inline;
}

.accent{
    color: #2e2f42;
}

.nav-list .link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list .link-nav:hover{
    color: #404bbf;
}
.nav-list .link-nav:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list .address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list .address-link:hover{
    color: #404bbf;
}

.address-list .address-link:focus{
    color: #404bbf;
}

/* main page */

/* first page */
.first-section{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.container-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-text{
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: capitalize;
}

.button{
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}

/* list page  */

.visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

.section-list{
    display: inline-flex;
    margin: 120px auto;
    gap: 24px;
    justify-content: space-between;
}

.section-item{
    width: calc((100% - 72px) / 4);
}

/* also for portfolio title text */
.h-third-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

 /* also for portfolio simple text */
.text-simple{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

/* Our team page */
.team-section{
    background-color: #F4F4FD;
}

.h-second-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item{
    background-color: #FFFFFF;
}

.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our Portfolio page */
.portfolio-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-main-text {
 padding-bottom: 72px;
}

.item-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    width: calc((100% - 48px) / 3);
}

.item-portfolio-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

/* end of page */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}

.footer-container {
    display: block;
}

.nav-logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    flex-shrink: 0;
    max-width: 115px;
}

.accent-footer {
    color: #f4f4fd;
}

.footer-text{
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}